header {
   background-color: var(--blue-very-very-dark);
}

.nav-link {
   color: var(--text);
   text-decoration: none;
}

.nav-link--title {
   font-size: calc(var(--font-size) * 1.5);
}

.navbar {
   width: 100%;
   padding-block: 1em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.tasks-filter {
   margin-bottom: 4em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 1em;
}

.tasks-filter__title {
   text-transform: uppercase;
}

.tasks-list {
   width: 100%;
   padding: 0;
   margin: 2em 0;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
   );
   gap: 1em;
}

.task-card {
   width: 100%;
   padding: 1em;
   border-radius: var(--border-radius);
   text-transform: capitalize;
   background: var(--blue-dark);
   display: grid;
   gap: 1em;
}

.button-group {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
