*,
*::after,
*::before {
   box-sizing: border-box;
}

:root {
   --blue-very-very-dark: hsl(210, 50%, 5%);
   --blue-very-dark: hsl(210, 50%, 10%);
   --blue-dark: hsl(210 50% 15%);
   --blue: hsl(210 50% 50%);
   --blue-light: hsl(210 50% 60%);
   --blue-very-light: hsl(210 50% 80%);
   --blue-very-very-light: hsl(210 50% 90%);
   --text: var(--blue-very-very-light);
   --white: hsl(210, 50%, 97.5%);
   --red: hsl(0, 50%, 50%);
   --green: hsl(120, 50%, 50%);

   --font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
   --border-radius: 0.2em;
   --border: 0.125em solid var(--blue-light);

   --font-size: 16px;
   --max-width: 50rem;
   --padding: 0.5em 1em;
}

body {
   margin: 0;
   font-family: var(--font-family);
   font-size: var(--font-size);
   background-color: var(--blue-very-dark);
   color: var(--text);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container-90 {
   width: 90%;
   max-width: var(--max-width);
   margin-inline: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

main {
   width: 100%;
   padding-block: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

form {
   display: flex;
   gap: 1em;
   width: 100%;
}

form > input {
   flex: 1;
}
