*,
*::after,
*::before {
   box-sizing: border-box;
}

:root {
   --bg-05: hsl(210, 33%, 5%);
   --bg-10: hsl(208, 33%, 10%);
   --bg-15: hsl(210, 33%, 15%);
   --bg-20: hsl(210, 33%, 20%);
   --bg-25: hsl(210, 33%, 25%);
   --text: hsl(210, 33%, 85%);
   --white: hsl(210, 33%, 95%);
   --primary: hsl(210 50% 50%);
   --primary-dark: hsl(210 50% 40%);
   --primary-light: hsl(210 50% 60%);
   --font-family: -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Oxygen',
      'Ubuntu',
      'Cantarell',
      'Fira Sans',
      'Droid Sans',
      'Helvetica Neue',
      sans-serif;
   --border-radius: .3em;
   --border: .125em solid var(--primary);

   --font-size: 16px;
   --max-width: 70rem;
}

body {
   margin: 0;
   font-family: var(--font-family);
   font-size: var(--font-size);
   background-color: var(--bg-10);
   color: var(--text);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

}

.container-90 {
   width: 90%;
   max-width: var(--max-width);
   margin-inline: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

main {
   width: 100%;
   padding-block: 4em;
}

input {
   padding: .5em 1em;
   border: var(--border);
   border-radius: var(--border-radius);
   outline: none;
   font-family: var(--font-family);
   font-size: var(--font-size);
   background-color: var(--text);
   transition: background-color .2s;
}

input:focus {
   background-color: var(--white);
}

.tasks-list {
   width: 100%;
   padding: 0;
   margin: 2em 0;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1em;
}

.task-card {
   padding: 1em;
   border-radius: var(--border-radius);
   text-transform: capitalize;
   background: var(--bg-20);
   display: grid;
   gap: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}